{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content%}
<main>
  <div class=" container">
     <h4 class="center">Login now</h4>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
    <div class="row">
      <div class="input-field  col s12 m4 offset-m4">
        <input type="email" name="email" placeholder="Email" required>
      </div>
      <div class="input-field col s12 m4 offset-m4">
        <input type="password" name="password" placeholder="Password" required>
      </div> 
   </div>
       <p style="color:red">{{sapor}}</p>
      <div class="center">
        <button  type="submit">Login</button>
      </div> 
    </form>
  </div>
</main>
{% endblock %}
